body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.button-container {
    margin-top: 20px;
}

input[type="button"] {
    padding: 100px 200px;
    font-size: 96px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

p {
    font-size: 128px;
}